<h1>Your Replies</h1>
<a href="/replies/create">New Reply</a>
{{#each replies}}
  <a href='/replies/show/{{this._id}}'>
    <p>{{this.response}}</p>
    <a href="/replies/edit/{{this._id}}">edit</a>

  </a>
{{/each}}
