<form method="POST" action="/replies/update/{{reply._id}}?_method=PUT">
  <input type="text" name="response" value="{{reply.response}}"/>
  <button type="submit" value="Save">Save Reply</button>
</form>
